.headbox{
	position: absolute;
	top: 20px;
	width: 100vw;
	left: 0px;
	height: 80vh;
	background-color: transparent;
	overflow: hidden;
}

.head{
	width: 100vw;
}

.redbox{
	position: absolute;
	top: 0px;
	left: 50px;
	width: 302px;
	height: 621px;
	background-color: rgb(237, 28, 36);

}

.smalltitle{
	top: 0px;
	left: 0px;
}

.largetitle {
	position: absolute;
	top: 1vh;
	left: 47px;
	width: 306px;
	font-size: 60px;
	text-align: center;
	font-family: benton-modern-display, serif;
	font-weight: 600; 
	color: white;
}

.largesub {
	position: absolute;
	top: 108px;
	left: 44px;
	width: 322px;
	font-size: 51px;
	text-align: center;
	font-family: benton-modern-display, serif;
	font-weight: 400; 
	color: white;
}

.smallsub {
	color: transparent;
}

.presented {
	position: absolute;
	top: 538px;
	left: 44px;
	width: 312px;
	font-size: 19px;
	line-height: 25px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300; 
	color: white;
}

h2{
	position: absolute;
	top: 98vh;
	left: 50px;
	font-size: 45px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

h3{
	position: absolute;
	top: 117vh;
	left: 50px;
	font-size: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

h4{
	position: absolute;
	top: 177vh;
	left: 50px;
	font-size: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

.photo {
	position: relative;
	width: 340px;
	height: 205px;
	background-color: transparent;
	overflow: hidden;
	float: left;
	margin-right: 30px;
	margin-bottom: 12px;
}

.p3{
	margin-right: 0px;
}

.topphotos {
	position: absolute;
	top: 133vh;
	left: 0px;
	right: 0px;
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.bottomphotos {
	position: absolute;
	top: 195vh;
	left: 0px;
	right: 0px;
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.p6{
	margin-right: 0px;
}

.smallred {
	position: absolute;
	top: 1590px;
	left: 0px;
	width: 77vw;
	height: 43px;
	background-color: rgb(237, 28, 36);
}

h5 {
	position: absolute;
	top: 1550px;
	left: 50px;
	font-size: 26px;
	color: white;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

p {
	position: absolute;
	top: 1654px;
	left: 90px;
	font-size: 26px;
	line-height: 40px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

.smallerred {
	position: absolute;
	top: 1950px;
	left: 0px;
	width: 50vw;
	height: 43px;
	background-color: rgb(237, 28, 36);
}

.met {
	position: absolute;
	top: 2000px;
	margin-right: 0;
	margin-left: 0;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

.cloisters{
	position: absolute;
	top: 2000px;
	left: 690px;
	margin-right: 0;
	margin-left: 0;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

/*.blankbox {
	position: absolute;
	top: 1950px;
	left: 0px;
	width: 50vw;
	height: 43px;
	background-color: transparent;
}*/

@media (max-width: 860px){
	.redbox {
		left: 0px;
		top: 236px;
		width: 100vw;
		height: 130px;
	}

	.largetitle{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 0px;
		height: 0px;
		color: transparent;
	}
	
	.smalltitle{
	position: absolute;
	top: 206px;
	left: 47px;
	width: 322px;
	font-size: 48px;
	text-align: center;
	font-family: benton-modern-display, serif;
	font-weight: 600; 
	color: white;
	}

	.largesub {
		color: transparent;
	}

	.smallsub {
	position: absolute;
	top: 215px;
	left: 44px;
	width: 322px;
	font-size: 32px;
	text-align: center;
	font-family: benton-modern-display, serif;
	font-weight: 350; 
	color: white;
	}

	.presented{
	color: rgb(0,0,0);
	position: absolute;
	top: 415px;
	left: 44px;
	}

	h2 {
		top: 500px;
		left: 25px;
		width: 328px;
	}

	h3{
		top: 720px;
		left: 25px;
	}

	.topphotos{
		position: absolute;
		top: 820px;
		/*left: 52px;*/
		width: 350px;
	}

	.bottomphotos{
		top: 253vh;
		width: 350px;
	}

	h4{
		top: 1530px;
		left: 25px;
	}

	.smallred{
		top: 2385px; 
	}

	h5{
		top: 2346px;
	}

	p{
		top: 2435px;
		left: 67px;
	}

	.smallerred{
		top: 2785px;
	}

	.met{
		top: 2840px;
		left: 50px;
	}

	.cloisters{
		top: 3000px;
		left: 50px;
	}
	}

@media (max-width: 735px){
	.head {
		position: absolute;
		top: 0px;
		width: 735px;
		right: -126px;
		height: 388px;
		background-color: transparent;
		overflow: hidden;
	}
}


	/*.topphotos{
		position: absolute;
		top: 840px;
		left: 52px;
		width: 350px;
	}

	.photo {
		width: 100vw;
	}
}*/