body{

	margin: 0px;
}

.bgbox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgb(247,246,246);
	background-size: contain;
	background-position: center;
}

.yellowbox{
	position: absolute;
	width: 100vw;
	height: 125px;
	background-color: rgb(250, 221, 113); 

}

.look{ 
	position: absolute; 
	top: -44px;
	left: 292px;
	font-family: benton-modern-display, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 85px;
	text-align: center;

}

img{
	position: absolute;
	top: 125px;
}

h1{
	position: absolute;
	font-family: benton-modern-display, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 70px;
	text-align: center;
	top: 850px;
	left: 180px;

}

.pic{
	width: 980px;
	height: 675px;
	background-color: black;
}

h2{
	position: absolute;
	font-family: gill-sans-nova, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 50px;
	top: 945px;
	left: 335px;
}

