html, body {
  overflow-x: hidden;
  margin: 0px;
}

html{
	background-color: black;
}

body{
	position: relative;
	max-width: 450px;
	margin: 0 auto;
	background-color: rgb(247,246,246);
}

.bgbox{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(247,246,246);
	background-size: contain;
	background-position: center;
}

.yellowbox{
	position: absolute;
	max-width: 450px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 67px;
	background-color: rgb(250, 221, 113); 

}

/*.yellowboxhome{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 172px;
	background-color: rgb(250, 221, 113);
}*/

.look{ 
	position: absolute; 
	max-width: 450px;
	top: 12px;
	left: 0px;
	width: 100%;
	font-family: baskerville-display-pt, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	text-align: center;
	color: black;
}

.lookhome{ 
	position: absolute; 
	top: -72px;
	left: 184px;
	font-family: baskerville-display-pt, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 118px;
	text-align: center;
	color: black;
}

.cover{
	position: relative;
	margin-top: 67px;
	width: 100%;
	/*position: absolute;
	top: 125px;*/
}

h1{
	position: relative;
	font-family: baskerville-display-pt, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 32px;
	text-align: center;
	margin-top: 30px;
	/*left: 65px;*/

}

.pic{
	width: 980px;
	height: 675px;
	background-color: black;
}

h2{
	position: relative;
	font-family: gill-sans-nova, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 25px;
	text-align: center;
	margin-top: -19px;
	margin-bottom: 30px;
	/*top: 949px;
	left: 311px;*/
}

p{
	position: relative;
	margin-top: 18px;
	margin-bottom: 0px;
	margin-left: 7.5%;
	width: 85%;
	font-family: gill-sans-nova, sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 20px;
	
}

.pullquote{
	font-size: 29px;
	font-family: baskerville-display-pt, serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 25px;
	margin-top: 25px;

}

.links{
	position: relative;
	margin-top: 28px;
	width: 100%;
}

.homebg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	background-size: contain;
	background-position: center;
}

.yellowboxhome{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 127vw;
	height: 75px;
	background-color: rgb(250, 221, 113); 
}

.lookhome{
	position: absolute; 
	top: -80px;
	left: 96px;
	font-family: baskerville-display-pt, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 54px;
	text-align: center;
}

.homebox{
	position: absolute;
	height: 90px;
	width: 389px;
	top: 495px;

	background-color: black;
}

.homelink{
	position: relative;
	margin-top: 1.8vw;
	width: 100%;
}

.coverlinks{
	position: absolute;
	top: 99vw;
	left: 0px;
	width: calc(100% - 18.1vw);
}

.practicesidebox{
	position: absolute;
	margin-right: 20px;
	width: 190px;
	height: 1500px;
	top: 8762px;
	left: 90px; 
	background-color: blue;
}

.gwshiftA{
	width: 62.5%;
	margin-left: 30%;
	/*width: 68vw;
	font-size: 48.5px;*/
}

.winosideA{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.winosideB{
	position: absolute;
	top: 0px;
	right: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.winosideC{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.franksideA{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.franksideB{
	position: absolute;
	top: 0px;
	right: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.franksideC{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.maiersideA{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.maiersideB{
	position: absolute;
	top: 0px;
	right: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.maiersideC{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.levittsideA{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.levittsideB{
	position: absolute;
	top: 0px;
	right: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.levittsideC{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.streetsideA{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.streetsideB{
	position: absolute;
	top: 0px;
	right: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
}

.streetsideC{
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(30% - 22px);
	margin-top: 18px;
	/*position: absolute;
	top: 8762px;
	left: 0px;*/

}

.stwrapperA{
	position: relative;
	overflow-y: hidden;
}


.stwrapperB{
	position: relative;
	overflow-y: hidden;

}

.stwrapperB p{
	width: 62.5%;
}

.stwrapperC{
	position: relative;
	overflow-y: hidden;
}

.gallery{
	position: relative;
	margin-top: 28px;
	width: 980px;
	height: 300px;
}

.smallblue{
	position: relative;
	float: left;
	width: 300px;
	height: 300px;
	margin-right: 40px;
	background-color: blue;
}

.rightbox{
	margin-right: 0px;
}

.gallery2{
	position: relative;
	margin-top: 28px;
	width: 980px;
	height: 300px;
}



/*
.linkA{
	top: 11365px;
}

.linkB{
	top: 11730px
}

.linkC{
	top: 12095px;
}

.linkE{
	top: 11000px;
}

.sideA{
	position: absolute;
	height: 700px;
	width: 100px;
	background-color: black;
	top: 500px;
	left: 700px;
}

*/