body{
	background-color: rgb(154,194,204);
/*	animation-name: flash;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 10s;*/
}

.bgfiller{
	position: absolute;
	background-color: rgb(154,194,204);
	top: 414px;
	left: 789px;
	height: 93px;
	width: 110px;

}

.boxes{
	position: absolute;
	top: -100px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 910px;
	height: 350px;
	margin: auto;
}

.flashscreen{
	position: relative;
	float: left;
	width: 300px;
	height: 500px;
	margin-right: 55px; 
	background-color: rgb(239,238,230);
}

.lights{
	width: 150px;
	height: 300px;
	/*animation-name: lights;
  	animation-duration: 1s;
  	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-delay: 9s;*/
}

.rightlight{
	margin-right: 0px;
}

.screen{
	background-color: rgb(73,64,72);
	top: -25px;
	height: 350px;
	width: 500px;
}

	/*position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 910px;
	height: 350px;
	margin: auto;*/

.whitecircle{
	position: absolute;
	top: -150px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 325px;
	height: 325px;
	border-radius: 50%;
	border: 2px solid black;
	background-color: rgb(239,238,230);
	margin: auto;
}

.outline{
	position: absolute;
	top: -150px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 290px;
	height: 290px;
	border-radius: 50%;
  	border: 2px solid black;
	background-color: transparent;
	margin: auto;
}

.numbercircle{
	position: absolute;
	top: -150px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 325px;
	height: 325px;
	border-radius: 50%;
	background-color: transparent;
	margin: auto;
	overflow: hidden;
}

.numbercircle.active{
	animation-name: rotation;
  	animation-duration: 1s;
  	animation-timing-function: linear;
  	animation-iteration-count: 10;
}

.redline{
	position: absolute;
	top: -209px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 10px;
	height: 200px;
	background-color: rgb(239,15,58);
	margin: auto;

}

.number{
	position: absolute;
	top: -220px;
	left: 592.6px;
	bottom: 0px;
	right: 0px;
	font-family: helvetica;
	font-size: 300px;
	font-weight: 500;
	color: black;
}

.number.active{
	animation-name: one;
  	animation-duration: 1s;
  	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-duration: 1s;
}

.nine{
	opacity: 0;
}

.eight{
	opacity: 0;
  	animation-delay: 1s;
}

.seven{
	opacity: 0;
  	animation-delay: 2s;
}

.six{
	opacity: 0;
  	animation-delay: 3s;
}

.five{
	opacity: 0;
  	animation-delay: 4s;
}

.four{
	opacity: 0;
  	animation-delay: 5s;
}

.three{
	opacity: 0;
  	animation-delay: 6s;
}

.two{
	opacity: 0;
  	animation-delay: 7s;
}

.one{
	opacity: 0;
  	animation-delay: 8s;
}

.smile{
	opacity: 0;
  	animation-delay: 9s;

  	position: absolute;
	top: 130px;
	left: 552px;
	bottom: 0px;
	right: 0px;
	font-family: helvetica;
	font-size: 80px;
	font-weight: 500;
	color: black;
}

.smile.active{
	animation-name: one;
  	animation-duration: 1s;
  	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-duration: 1s;
}

.bottomred{
	position: absolute;
	top: 484px;
	left: 480px;
	width: 145px;
	height: 78px;
	border-radius: 50%;
	background-color: rgb(188,4,49);
}

.topred{
	position: absolute;
	top: 473px;
	left: 480px;
	width: 145px;
	height: 78px;
	border-radius: 50%;
	background-color: rgb(239,15,58);
}

.reddown{
	top: 484px;
}

.slottop{
	position: absolute;
	top: 330px;
	left: 302px;
	bottom: 0px;
	right: 0px;
	width: 200px;
	height: 42px; 
	margin-top: 50px;
	background-color: rgb(73,64,72);
	margin: auto;
}

.slotbgtop{
	position: absolute;
	top: 347px;
	left: 303px;
	bottom: 0px;
	right: 0px;
	width: 175px;
	height: 27px; 
	margin-top: 50px;
	background-color: black;
	overflow: hidden;
	margin: auto;
}

.strip{
	position: absolute;
	top: 337px;
	left: 790px;
}

.strip.active{
	animation-name: print;
  	animation-duration: 3s;
  	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-delay: 11s;
}

.slotbottom{
	position: absolute;
	top: 413px;
	left: 302px;
	bottom: 0px;
	right: 0px;
	width: 200px;
	height: 42px; 
	margin-top: 50px;
	background-color: rgb(73,64,72);
	margin: auto;
}

.slotbgbottom{
	position: absolute;
	top: 394px;
	left: 303px;
	bottom: 0px;
	right: 0px;
	width: 175px;
	height: 31px; 
	margin-top: 50px;
	background-color: black;
	margin: auto;
}

.flashboxleft{
	position: absolute;
	width: 85px;
	height: 85px;
	top: 252px;
	left: 260px;
	opacity: .7;
	background-color: rgb(239,238,230);
}

.flashboxright{
	position: absolute;
	width: 85px;
	height: 85px;
	top: 252px;
	left: 1022px;
	opacity: .7;
	background-color: rgb(239,238,230);
}

.flashboxleft.active{
	animation-name: bright;
  	animation-duration: .7s;
  	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-delay: 10s;
}

.flashboxright.active{
	animation-name: bright;
  	animation-duration: .7s;
  	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-delay: 10s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes one {
	0% {
		opacity: 0;
	}	
	1% {
		opacity: 1;
	}
	99% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}

@keyframes bright {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(10);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes lights {
	0% {
		width: 150px;
		height: 300px;
	}	
	50% {
		width: 450px;
		height: 900px;
	}
	100% {
		width: 150px;
		height: 300px;
	}

}

@keyframes print {
	0% {
		top: 337px;
	}
	100% {
		top: 490px;
	}

}

